xmodelsurfs/
images/
sound/
mods/
server_data/admin/player_options/
server_data/speedrun/demos/
server_data/speedrun/map_times/
server_data/speedrun/personbest/
server_data/speedrun/txt_demos/
*.log
*.old
*.tmp
*.iwd
*.ff
globalconfig.cfg
q3config_server.cfg
serverstatus.xml
sys_error.txt
missingasset.csv